{% extends 'layout.html' %}

{% block head %}
<title>Site Index</title>
{% endblock %}

{% block body %}
<h1>Got a question? <a href={{url_for('new_question')}}>Just ask!</a></h1>

<table>
    <tr>
        <th>Question</th>
        <th>Asker</th>
        <th>Date</th>
    </tr>
    {% for question in questions %}
        <tr>
            <td><a href={{url_for('questions', question_id = question.id)}}>{{ question['title'] }}</a></td>
            <td>{{ question.user.username }}</td>
            <td>{{ question.created_on }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}