<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if 'username' in session %}
        Logged in as {{ session['username'] }} | <a href={{url_for('logout')}}>Log Out</a>
    {% else %}
        <a href={{url_for('login')}}>Log In</a> | <a href={{url_for('register')}}>Register</a>
    {% endif %}
    <br>
    {% block head %} {% endblock %}
</head>
<body>
    {% block body %} {% endblock %}
</body>
</html>